
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* common code  */
    .common_btn {
        font-size: 15px;
        padding: 10px 30px;
    }
    .common_margin {
        margin-bottom: 45px;
    }
    .common_padding {
        padding-bottom: 45px;
    }
    /* common code  */

    /* slider starts */
    .sl_item {
        margin: 115px 0 120px;
        text-align: center;
    }
    .sl_h1 {
        font-size: 30px;
        padding: 0 25px;
    }
    .sl_p {
        margin: 30px 15px 50px;
    }
    .common_carousel {
        width: 64%;
    }
    .common_np {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    .common_np_btn {
        font-size: 15px;
    }
    /* slider ends */

    /* welcome starts  */
    .common_sec_h1 {
        font-size: 22px;
    }
    .common_sec_p {
        margin: 30px 0 35px;
        padding: 0 20px;
    }
    .we_card_item {
        margin: 50px 20px 0;
    }
    /* welcome ends  */

    /* about starts  */
    .ab_content {
        margin-left: 0;
        text-align: center;
    }
    .ab_h1, .ab_p {
        text-align: center;
    }
    /* about ends  */

    /* work starts */
    .work_img {
        margin: 30px 20px 0;
    }
    /* work ends */

    /* service starts  */
    .s_service_icon {
        margin-right: 5px;
        font-size: 35px;
    }
    .s_service_h2 {
        font-size: 16px;
    }
    .s_service_p {
        margin: 25px 0 30px;
    }
    .s_service, .s_row {
        margin-top: 40px;
    }
    .s_service_title {
        justify-content: center;
    }
    /* service ends  */

    /* person starts */
    .p_info {
        margin: 50px 20px 0;
    }
    /* person ends */

    /* price starts  */
    .s_price_card {
        margin: 50px 20px 0;
        padding: 0 25px;
    }
    /* price ends  */

    /* call-to-action */
    .call-to-action {
        padding: 30px 0;
    }
    .cta_h3 {
        margin-bottom: 30px !important;
        text-align: center;
    }
    /* call-to-action */

    /* testimonial starts  */
    .test_item {
        padding: 30px 10px;
    }
    .test_car_wrap {
        margin: 20px 20px 0;
    }
    .test_item_pic {
        width: 80%;
        margin: 0 auto;
    }
    .test_item_text {
        text-align: center;
        margin: 15px 0 0;
    }
    .test_item_text_po {
        margin: 2px 0;
    }
    .test_item_text_det {
        margin: 15px 0 15px;
    }
    .test_carousel_indicator_md {
        margin: 20px 0;
        top: -25px;
        bottom: -100%;
    }
    /* testimonial ends  */
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* common code  */
    .common_btn {
        font-size: 15px;
        padding: 12px 35px;
    }
    .common_margin {
        margin-bottom: 70px;
    }
    .common_padding {
        padding-bottom: 70px;
    }
    .common_sec_bar {
        height: 35px;
    }
    /* common code  */

    /* slider starts */
    .sl_item {
        margin: 150px 0 150px;
        text-align: center;
    }
    .sl_h1 {
        font-size: 45px;
    }
    .sl_p {
        margin: 35px 20px 50px;
    }
    .common_carousel {
        width: 79%;
    }
    .common_np {
        width: 25%;
        margin-right: auto;
        margin-left: auto;
    }
    .common_np_btn {
        font-size: 15px;
    }
    /* slider ends */

    /* welcome starts  */
    .common_sec_h1 {
        font-size: 25px;
    }
    .common_sec_p {
        padding: 0;
        margin: 35px 0 25px;
    }
    /* welcome ends  */

    /* about starts  */
    .ab_content {
        margin-left: 0;
        text-align: center;
    }
    .ab_h1, .ab_p {
        text-align: center;
    }
    /* about ends  */

    /* service starts  */
    .s_service_icon {
        margin-right: 5px;
        font-size: 35px;
    }
    .s_service_h2 {
        font-size: 16px;
    }
    .s_service_p {
        margin: 25px 0 30px;
    }
    .s_service, .s_row {
        margin-top: 40px;
        text-align: center;
    }
    .s_service_title {
        justify-content: center;
    }
    /* service ends  */

    /* person starts  */
    .p_info_det_h3 {
        font-size: 16px;
    }
    .p_info_det_p {
        font-size: 15px;
    }
    .p_info {
        margin-top: 50px;
    }
    /* person ends  */

    /* price starts */
    .s_price_card {
        margin-top: 50px;
    }
    /* price ends */

    /* call-to-action */
    .cta_h3 {
        margin-bottom: 35px !important;
        text-align: center;
    }
    /* call-to-action */

    /* testimonial starts  */
    .test_item_pic {
        width: 55%;
        margin: 0 auto;
    }
    .test_item_text {
        text-align: center;
        margin: 20px 0 0;
    }
    .test_item_text_po {
        margin: 2px 0;
    }
    .test_item_text_det {
        margin: 20px 0 0;
    }
    /* testimonial ends  */
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* common code */
    .common_sec_bar {
        height: 40px;
    }
    .common_margin {
        margin-bottom: 70px;
    }
    /* common code */

    /* slider starts */
    .sl_item {
        margin: 150px 0 150px;
        text-align: center;
    }
    .sl_p {
        margin: 45px 0 60px;
    }
    .common_carousel {
        width: 85%;
    }
    .common_np {
        margin-right: auto;
        margin-left: auto;
    }
    /* slider ends */

     /* welcome starts  */
    .common_sec_h1 {
        font-size: 25px;
    }
    .common_sec_p {
        margin: 40px 0 30px;
    }
    /* welcome ends  */

    /* about starts  */
    .ab_content {
        margin-left: 0;
        text-align: center;
    }
    .ab_h1, .ab_p {
        text-align: center;
    }
    /* about ends  */

    /* service starts  */
    .s_service_icon {
        margin-right: 5px;
        font-size: 35px;
    }
    .s_service_h2 {
        font-size: 16px;
    }
    .s_service_p {
        margin: 25px 0 30px;
    }
    .s_service, .s_row {
        margin-top: 40px;
    }
    /* service ends  */

    /* person starts */
    .p_info {
        margin-top: 60px;
    }
    
    /* person ends */

    /* price starts */
    .s_price_card {
        margin-top: 70px;
    }
    /* price ends */

    /* testimonial starts  */
    .test_item_text_det {
        margin: 5px 0 0;
    }
    .test_item_text_po, .test_item_text_co {
        font-size: 16px;
        margin: 0;
    }
    /* testimonial ends  */
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* slider starts */
    .sl_item {
        margin: 180px 0 160px;
    }
    .sl_h1 {
        font-size: 50px;
    }
    .sl_p {
        margin: 40px 0 60px;
    }
    .common_btn {
        padding: 12px 40px
    }
    .common_carousel {
        left: 43px;
    }
    /* slider ends */

    /* welcome starts  */
    .common_sec_bar {
        height: 40px;
    }
    .common_sec_h1 {
        font-size: 25px;
    }
    /* welcome ends  */

    /* about starts  */
    .ab_p {
        line-height: 27px;
        font-size: 15px; 
    }
    /* about ends  */

    /* person starts  */
    .p_info_det {
        padding: 20px 15px;
    }
    .p_info_det_h3 {
        font-size: 16px;
    }
    .p_info_det_p {
        font-size: 15px;
    }
    /* person ends  */

    /* price starts  */
    .s_price_card_title {
        width: 40%;
    }
    .s_price_card_title_p span {
        font-size: 30px;
    }
    .s_price_card_title_p {
        margin: 30px 0;
    }
    .s_price_card {
        padding: 0 20px;
    }
    .s_price_card_btn {
        margin: 40px 0 35px;
    }
    /* price ends  */
    
}

/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* slider starts */
    .common_carousel {
        left: 52px;
    }
    /* slider ends */

    /* about starts  */
    
    /* about ends  */

    /* person starts  */
    .p_info_det {
        padding: 20px 25px;
    }
    /* person ends  */
    
}

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {

    /* slider starts  */
    .sl_item {
        margin: 200px 0 300px;
    }
    .sl_p {
        width: 87%;
    }
    /* slider ends  */

    /* about starts  */
    .ab_p {
        margin: 45px 0 45px;
    }
    /* about ends  */
    
}