/* font links */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* common code */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
.common_margin {
    margin-bottom: 100px;
}
.common_padding {
    padding-bottom: 100px;
}
.common_btn {
    border: 1.5px solid black;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 45px;
    background-color: transparent;
    position: relative;
    transition: all 1s ease;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
}
.common_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #333333;
    transition: all 1s ease;
    z-index: -1;
}
.common_btn:hover:before {
    
    width: 100%;
}
.common_btn:hover {
    color: white;
    /* background-color: #333333; */
}
.common_btn:active {
    color: white;
    background-color: #333333;
}
.common_btn span i {
    font-size: 16px;
    margin-left: 16px;
}
.common_sec_heading {
    margin: 0 auto;
}
.common_sec_bar {
    margin: 0 auto;
    width: 2px;
    height: 50px;
    background-color: #333333;
}
.common_sec_h1 {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}
.common_sec_p {
    margin: 50px 0 100px;
    line-height: 30px;
    text-align: center;
}
/* common code */

/* header starts */

/* header ends */

/* slider section starts */
.slider {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sl_item {
    margin: 200px 0 180px;
}
.sl_h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.sl_p {
    margin: 50px 0 60px;
    color: white;
    line-height: 30px;
}
.sl_btn {
    color: white;
    border: 1.5px solid white;
    transition: all 1s ease;
    z-index: 1;
}
.sl_btn::before {
    background-color: white;
    z-index: -1;
}
.sl_btn:hover {
    color: #333333;
}
.sl_btn:active {
    color: #333333;
    background-color: white;
}
.common_carousel {
    margin: 0;
    width: 8%;
    left: 53px;
    bottom: -14px;
}
.common_carousel [data-bs-target] {
    width: 3px;
    height: 30px;
    background-color: #333333;
}
.common_carousel .active {
    height: 34px;
}
.common_np {
    width: 22%;
}
.common_np_btn {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #8e8e8e;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.33s linear;
}
.common_np_btn:hover {
    color: #333333;
}
.common_np_btn:active {
    color: #333333;
    font-weight: 700;
}
/* slider section ends */

/* welcome section starts */
/* .welcome {} */
/* .we_card {} */
.we_card_item {
    margin: 50px 0 0;
    padding: 57px 20px 30px;
    text-align: center;
    border: 1px solid #cccccc;
}
.we_card_icon {
    margin: -90px auto 0px;
    width: 70px;
    font-size: 60px;
    background-color: white;
}
.we_card_h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}
.we_card_hr {
    width: 50px;
    margin: 18px auto 18px;
    border: 1px solid #8e8e8e;
}
.we_card_p {
    line-height: 27px;
}
.we_card_link {
    font-weight: 700;
    color: #8e8e8e;
    text-decoration: none;
    text-transform: uppercase;
}
.we_card_link span i {
    font-size: 16px;
    margin-left: 10px;
}
.we_card_item:hover {
    transform: scale(1.025);
    border: 1px solid #333333;
}
.we_card_item, .we_card_icon, .we_card_link {
    transition: 0.5s all ease;
}
.we_card_item:hover .we_card_icon, .we_card_item:hover .we_card_link {
    color: #333333;
}
/* welcome section ends */

/* about starts */
/* .about {} */
/* .ab_img img {} */
.ab_h1 {
    text-align: left;
}
.ab_content {
    margin-left: 45px;
}
.ab_p {
    text-align: left;
    margin: 20px 0 20px;
}
/* about ends */

/* work starts */
.work {
    background-color: #ededed;
}
.work_img {
    margin-top: 30px;
    position: relative;
}
.work_img img {
    width: 100%;
    height: auto;
}
.work_img_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.318);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 1s all ease;
}
.work_img_hover:hover {
    opacity: 1;
} 
.icon_overlay {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
    transition: 1.5s all ease;
}
.work_img_hover:hover .icon_overlay {
    top: 45%;
}
.title {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0px;
    background-color: white;
    padding: 10px 30px;
    transition: 1.5s all ease;
}
.work_img_hover:hover .title {
    bottom: 0;
}
.title h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 27px;
    text-transform: uppercase;
}
.title p {
    text-transform: capitalize;
}
/* work ends */

/* service starts */

/* service ends */