/* font links */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* common code */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
.common_margin {
    margin-bottom: 100px;
}
.common_padding {
    padding-bottom: 100px;
}
.common_btn {
    border: 1.5px solid black;
    font-family: 'Lato', sans-serif;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 45px;
    background-color: transparent;
    position: relative;
    transition: all 1s ease;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
}
.common_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #333333;
    transition: all 1s ease;
    z-index: -1;
}
.common_btn:hover:before {
    
    width: 100%;
}
.common_btn:hover {
    color: white;
    /* background-color: #333333; */
}
.common_btn:active {
    color: white;
    background-color: #333333;
}
.common_btn span i {
    font-size: 16px;
    margin-left: 16px;
}
.common_sec_heading {
    margin: 0 auto;
}
.common_sec_bar {
    margin: 0 auto;
    width: 2px;
    height: 50px;
    background-color: #333333;
}
.common_sec_h1 {
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}
.common_sec_p {
    margin: 50px 0 100px;
    line-height: 30px;
    text-align: center;
}
/* common code */

/* header starts  */
header {
    background-color: white;
}
.logo {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
}
.header_menu {
    position: relative;
}
/* .header_menu_item {} */
.header_menu_item a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    text-transform: uppercase;
}
.header_menu_item:hover a {
    color: #333333;
    font-weight: 500;
}
.header_menu_item:active a {
    color: #333333;
    font-weight: 500;
}
.header_logo_off {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
}
.off_header {
    margin: 25px 20px 15px;
}
.off_header_close_btn {
    font-size: 16px;
    color: #8e8e8e;
}
.off_header_close_btn:hover, .off_header_close_btn:active {
    color: #333333;
}
/* .off_header_body {} */
.search {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    outline: none;
    box-sizing: border-box;
    /* background-color: white; */
}
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#333333;
  }
.input-search::placeholder{
    color:#8e8e8e;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
}
.input-search:focus::placeholder {
    color: #333333;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    color:#8e8e8e ;
    background-color:transparent;
    pointer-events: painted;  
}
.btn-search:focus {
    color: #333333;
}
.btn-search:focus ~ .input-search{
    width: 500px;
    border-radius: 0px;
    background-color: white;
    border-bottom:1px solid #8e8e8e;
}
.input-search:focus{
    width: 500px;
    border-radius: 0px;
    background-color: white;
    border-bottom:1px solid #333333;
    opacity: 1;
}
.off_header_hr {
    border: 1px solid #333333;
}
/* .burger_btn {} */
/* header ends  */

/* slider section starts */
.slider {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sl_item {
    margin: 200px 0 180px;
}
.sl_h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: white;
}
.sl_p {
    margin: 50px 0 60px;
    color: white;
    line-height: 30px;
}
.sl_btn {
    color: white;
    border: 1.5px solid white;
    transition: all 1s ease;
    z-index: 1;
}
.sl_btn::before {
    background-color: white;
    z-index: -1;
}
.sl_btn:hover {
    color: #333333;
}
.sl_btn:active {
    color: #333333;
    background-color: white;
}
.common_carousel {
    margin: 0;
    width: 8%;
    left: 53px;
    bottom: -14px;
}
.common_carousel [data-bs-target] {
    width: 3px;
    height: 30px;
    background-color: #333333;
}
.common_carousel .active {
    height: 34px;
}
.common_np {
    width: 22%;
}
.common_np_btn {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #8e8e8e;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.33s linear;
}
.common_np_btn:hover {
    color: #333333;
}
.common_np_btn .active {
    color: #333333;
    font-weight: 700;
}
/* slider section ends */

/* welcome section starts */
/* .welcome {} */
/* .we_card {} */
.we_card_item {
    margin: 50px 0 0;
    padding: 57px 20px 30px;
    text-align: center;
    border: 1px solid #cccccc;
}
.we_card_icon {
    margin: -90px auto 0px;
    width: 70px;
    font-size: 60px;
    background-color: white;
}
.we_card_h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}
.we_card_hr {
    width: 50px;
    margin: 18px auto 18px;
    border: 1px solid #8e8e8e;
}
.we_card_p {
    line-height: 27px;
}
.we_card_link {
    font-weight: 700;
    color: #8e8e8e;
    text-decoration: none;
    text-transform: uppercase;
}
.we_card_link span i {
    font-size: 16px;
    margin-left: 10px;
}
.we_card_item:hover {
    transform: scale(1.025);
    border: 1px solid #333333;
}
.we_card_item, .we_card_icon, .we_card_link {
    transition: 0.5s all ease;
}
.we_card_item:hover .we_card_icon, .we_card_item:hover .we_card_link {
    color: #333333;
}
/* welcome section ends */

/* about starts */
/* .about {} */
/* .ab_img img {} */
.ab_h1 {
    text-align: left;
}
/* .ab_content {} */
.ab_p {
    text-align: left;
    margin: 25px 0 30px;
}
/* about ends */

/* work starts */
.work {
    background-color: #ededed;
}
.work_img {
    margin-top: 30px;
    position: relative;
}
.work_img img {
    width: 100%;
    height: auto;
}
.work_img_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.318);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 1s all ease;
}
.work_img_hover:hover {
    opacity: 1;
} 
.icon_overlay {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -55%);
    transition: 1.5s all ease;
}
.work_img_hover:hover .icon_overlay {
    top: 45%;
}
.title {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0px;
    background-color: white;
    padding: 10px 30px;
    transition: 1.5s all ease;
}
.work_img_hover:hover .title {
    bottom: 0;
}
.title h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    line-height: 27px;
    text-transform: uppercase;
}
.title p {
    text-transform: capitalize;
}
/* work ends */

/* service starts */
.s_service, .s_row {
    margin-top: 50px;
}
.s_service, .s_service_icon, .s_service_h2, .s_service_hr {
    transition: 0.5s all ease;
}
/* .s_service_title {} */
.s_service_icon {
    margin-right: 10px;
    font-size: 48px;
    line-height: 30px;
}
.s_service_h2 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.s_service_p {
    margin: 35px 0 40px;
}
.s_service_hr {
    margin: 0;
    border: 1px solid #8e8e8e;
}

.s_service:hover {
    transform: scale(1.025);
}
.s_service:hover .s_service_icon, .s_service:hover .s_service_h2 {
    color: #333333;
}
.s_service:hover .s_service_hr {
    color: #333333;
    border: 1px solid #333333;
    opacity: 1;
}
/* service ends */

/* person starts */
.person {
    background-image: url(../images/person-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.p_info {
    margin-top: 100px;
}
.p_info_links {
    position: relative;
}
/* .p_info_links_img {} */
.p_info_links_img img {
    width: 100%;
}
.p_info_links_social {
    width: 20%;
    height: auto;
    position: absolute;
    background-color: white;
    top: 25%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
    transition: 1s all ease;
    /* transition-duration: 1s; */
}
.p_info_links:hover .p_info_links_social {
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}
.p_info_links_social ul li {
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.10s all ease;
}
.p_info_links_social ul li:hover {
    background-color: #f8f8f8;
    border-right: 2px solid #333333;
}
.p_info_links_social_icon {
    margin: 10px 0 0;
    font-size: 26px;
    color: #8e8e8e;
    transition: 0.10s all ease;
}
.p_info_links_social ul li:hover .p_info_links_social_icon {
    color: #333333;
}
.p_info_links_social ul li:last-child a i{
    margin-bottom: 10px;
}
.p_info_det {
    padding: 20px 30px;
    background-color: white;
}
.p_info_det_h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
}
.p_info_det_p {
    margin: 10px 0 0;
    text-transform: uppercase;
}
/* person ends */

/* price starts */
/* .price {} */
.s_price_card {
    margin-top: 100px;
    padding: 0 30px;
    border: 1.5px solid #cccccc;
}
.s_price_card_title {
    width: 30%;
    background-color: white;
}
.s_price_card_title_h3 {
    margin: -15px 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}
.s_price_card_title_p {
    margin: 40px 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
}
.s_price_card_title_p span {
    font-size: 36px;
    color: #333333;
    line-height: 30px;
}
.s_price_card_f {
    list-style-position: inside;
}
.s_price_card_f li {
    line-height: 40px;
}
.s_price_card_f li::before {
    content: '-';
    margin-right: 10px;
}
.s_price_card_btn {
    width: 100%;
    height: 50px;
    margin: 45px 0 40px;
    text-align: center;
    border: 1.5px solid #8e8e8e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #8e8e8e;
    text-decoration: none;
    text-transform: uppercase;
}
.s_price_card_btn span i {
    font-size: 16px;
    margin-left: 16px;
}
.s_price_card, .s_price_card_btn, .s_price_card_btn span i {
    transition: 0.5s all ease;
} 
.s_price_card:hover {
    border: 1.5px solid #333333;
    transform: scale(1.025);
}
.s_price_card:hover .s_price_card_btn {
    border: 1.5px solid #333333;
    color: #333333;
}

/* price ends */

/* call to action */
.call-to-action {
    padding: 40px 0;
    background-color: #ededed;
}
.cta_h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}
/* .cta_link {} */
/* call to action */

/* testimonial starts */
/* .testimonial {} */
.test_car_wrap {
    border: 1px solid #8e8e8e;
}
.test_item {
    padding: 40px 30px;
}
.test_item_pic {
    position: relative;
}
.test_item_pic_img {
    width: 100%;
}
.test_item_pic_icon {
    position: absolute;
    position: absolute;
    top: 5%;
    left: 5%;
}
.test_item_pic_icon i {
    font-size: 30px;
    line-height: 30px;
    color: #333333;
}
/* .test_item_text {} */
.test_item_text_name {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    line-height: 30px;
}
.test_item_text_po {
    font-size: 18px;
    line-height: 30px;
    margin: 5px 0;
}
.test_item_text_co {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}
.test_item_text_det {
    margin: 30px 0 0;
}
.test_np {
    padding: 40px 20px;
    border: 1px solid #8e8e8e;
    background-color: #f8f8f8;
}
/* .test_carousel {} */
.test_carousel_indicator {
    margin: 0;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: rotate(90deg) translateX(-10%) translateY(-20%);
}
.test_carousel_indicator [data-bs-target] {
    width: 2px;
    height: 20px;
    background-color: #333333;
}
.test_carousel_indicator .active {
    height: 25px;
}
.test_np_wrap {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    position: relative;
}
.test_np_btn {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #8e8e8e;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    transition: all 0.33s linear;
    transform: rotate(90deg);
}
.test_np_btn:hover {
    color: #333333;
}
.test_np_btn .active {
    font-weight: 700;
    color: #333333;
}

/* md to col screen  */
.test_np_wrap_md {
    width: 25%;
    margin: 0 auto 20px;
    display: flex !important;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.test_np_btn_md {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #8e8e8e;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    transition: all 0.33s linear;
}
.test_np_btn_md:hover {
    color: #333333;
}
.test_np_btn_md .active {
    font-weight: 700;
    color: #333333;
}
.test_carousel_indicator_md {
    position: absolute;
    bottom: -100%;
}
.test_carousel_indicator_md [data-bs-target] {
    width: 2px;
    height: 25px;
    background-color: #333333;
}
.test_carousel_indicator_md .active {
    height: 30px;
}

/* md to col screen  */
/* testimonial ends */

/* contact starts */
/* .contact {} */
.contact_wrap {
    padding: 90px 180px 0px;
    position: relative;
    border: 1px solid #8e8e8e;
}
.contact_title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    width: 21%;
}
.contact_title_h1 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}
/* .name {}
.fname {}
.lname {}
.email {}
.msz {} */
.msz textarea {
    height: 80px;
}
.form_input_style {
    margin: 50px 0 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #8e8e8e;
    border-radius: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}
.form_input_style:focus {
    border-bottom: 1.5px solid #333333;
}
.form_input_style::placeholder {
    transition: .025s all ease;
}
.form_input_style:focus::placeholder {
    font-weight: 500;
    color: #333333;
}
.contact_link {
    margin: 45px 0 45px;
    text-align: center;
}
/* contact ends */

/* footer starts */
footer {
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* footer upper body  */
.footer_upper_p {
    margin: 40px 0;
    text-align: center;
    color: white;
}
.footer_icon_bg {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
}
.footer_icon_bg:hover {
    background-color: white;
}
.footer_icon_bg:hover .footer_icon i {
    color: #333333;
} 
.footer_icon i {
    font-size: 26px;
    font-weight: 400;
    color: white;
    line-height: 30px;
}
/* footer upper body  */

/* divider */
.footer_divider {
    margin: 0;
    opacity: .5;
    border: 1px solid white;
}
/* divider */

/* footer lower body  */
.footer_lower {
    padding: 38px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* .footer_lower_wrap {} */
/* .footer_lower_text {} */
.footer_lower_text_p {
    color: white;
    opacity: 0.9;
}
.footer_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* .menu_item {} */
.menu_item a {
    color: white;
    line-height: 30px;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.9;
}
/* footer lower body  */
/* footer ends */